<header>
   <nav>
      <ul>
         <!-- <li><a href="https://pnikolenko3d.netlify.app">Tabaco</a></li> -->
         <li><a href="/">AITabaco</a></li>
         <li><a href="/about">Про нас</a></li>
         <li><a href="/user/pnikolenko">PNikolenko</a></li>
      </ul>
   </nav>
</header>