<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

  <body>

    <%- include('partials/header') %>

      <div class="container">
        <h1>Tabaco GPT</h1>
        <img src="/img/mag.png" alt="Mag" width="140" height="140" />
        <h3>
          Внедрение Искуственного Интеллекта помогает развивать новые
          инновационные решения и улучшает жизнь людей...
        </h3>
      </div>
      <!-- respons chatGpt -->
      <div id="messages"></div>
      <!-- gpt chat question -->
      <form onsubmit="submitForm(event)">
        <input type="text" id="input" placeholder="Введите ваш вопрос " />
      </form>

      <%- include('partials/footer') %>

        <script src="/js/index.js"></script>

  </body>

</html>